#saveBtn {
    background-color: orange;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 700;
    margin-right: 20px;
}

#clearBtn {
    background-color: rgb(202, 201, 201);
    border: none;
    border-radius: 5px;
    color: black;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    font-weight: 700;
    margin-left: 20px;
}

.inputs {
    border-radius: 5px;
    border: solid 2px rgb(183, 183, 183)
}

#productCard {
    padding: 15px;
}

body {
    margin: 10px;
    background-color: rgb(244, 244, 244);
}

thead {
    background-color: black;
    color: white;
    align-items: center;
}

th {
    padding-left: 20px;
    padding-right: 20px;
}

table {
    margin-left: 400px;
    margin-top: 20px;
}

#instock {
    color: rgb(0, 199, 0)
}

#outstock {
    color: red;
}

td {
   text-align: center;
   border: solid 1px;
   padding: 5px;
}